@media  (max-width: 800px) {
    body {
        display: flex;
        width: 100%;
        margin: 0%;
        overflow-x: hidden;
    }
   
    button {
        margin-top: 20px;
        font-size: 1.7rem;
        height: auto;
    }

    button:hover {
        background-color: white;
        border: 1px solid black;
        color: black;   
    }

    article {
        font-size: 2rem;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .flexcon {
        display: flex;
        gap: 2%;
        justify-content: center;
    }

    .banner1 {
        font-size: 4rem;   
        margin-bottom: 0px; 
    }
    .banner23 {
        font-size: 3.5rem;
        margin-top: 0px;
    }

    .img-hover-zoom {  /*CERTS*/ /*no hover transition on mobile*/
        height: 300px; 
        width: 25%;
        overflow: visible; 
      }

      .img-hover-zoom img {
        transition: none;
      }

      .img-hover-zoom:hover img {
        transform: none;
      }   
    .certpics {
        display: flex;
    }  /*CERTS*/
}