@media  (max-width: 800px) {
    body {
        display: flex;
        margin: 0%;
        overflow-x: hidden;
    }
    .transparent {
        display: flex;
        width: 90%;
        justify-content: center;
    }
    .aboutme {
        display: flex;
        justify-content: center;
        width: 90%;
    }  
    .edu {
        display: flex;
        justify-content: center;
    }
    .certpics {
        display: flex;
    }
    .flexcon {
        display: flex;
        gap: 2%;
        justify-content: center;
    }
}