body {
  margin-left: 15%;
  margin-right: 15%;
  letter-spacing: 1px;
  background-color:#24292b;
  color:#bbcfd1;
  text-shadow: 1px 1px 1px #1c1d1c, -3px 6px 5px #050505;
}

/*THEME TOGGLE*/
#theme {
  display: flex;
  height: auto;
  width: auto;
  background-color: rgb(235, 235, 235);
  border: 3px solid #000000;
  border-radius: 6px;
  padding: 2px;
  color: black;
  box-shadow: 1px 1px 1px #1c1d1c, -3px 6px 5px #050505;
  font-weight: bold;
  font-size: 18px;
}

.themebttn-wrapper {
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
}

.light-theme {
  background-color: #fff;
  color: #000000;
  text-shadow: none;
}

.light-theme .banner1 {
  background: linear-gradient(90deg, 
  rgba(189, 189, 189, 1) 0%, 
  rgb(216, 216, 216) 25%,  
  rgb(216, 216, 216, 1) 75%, 
  rgba(189, 189, 189, 1) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
  inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.light-theme .banner23 {
  background: linear-gradient(90deg, 
  rgba(189, 189, 189, 1) 0%, 
  rgb(216, 216, 216) 25%,  
  rgb(216, 216, 216, 1) 75%, 
  rgba(189, 189, 189, 1) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
  inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.dark-theme {
  background-color: #24292b; 
  color: #bbcfd1;
}

/*TEXT BODY/CONTAINERS*/
article.cursive {
  line-height: 1.5;
  font-family: system-ui;
  font-size:22px;
  padding: 2em;    
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

section.skills2 {
  padding: 2px; 
  height: 50%;
}

section.skills {
  float: right;
  padding: 2px; 
  height: 50%;
}

.flexcon {
  gap: 8%;
  display: flex;
  justify-content: center;
}

/*BANNERS*/
.banner1 {
  font-family: system-ui;
  font-size:50px;
  text-align: center;
  background: linear-gradient(90deg, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0.2) 25%, 
  rgba(255, 255, 255, 0.2) 75%, 
  rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
  inset 0 0 1px rgba(255, 255, 255, 0.6); 
}

.banner23 {
  font-size:35px;
  text-align:center;
  background: linear-gradient(90deg, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0.2) 25%, 
  rgba(255, 255, 255, 0.2) 75%, 
  rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
  inset 0 0 1px rgba(255, 255, 255, 0.6); 
}

/*PICTURES*/
.mepic {
  float:right;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px #1c1d1c, -3px 6px 5px #050505;
}

.certpics {
  padding: 1px;
  margin-top:  10px;
  box-shadow: 1px 1px 1px #1c1d1c, -3px 6px 5px #050505;
}    

.img-hover-zoom {  /*CERTS*/
  height: 300px; 
  width: 25%;
  overflow: visible; 
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.4);
}                        
  